.App {
    text-align: center;
    font-family: Arial, sans-serif;
    width: 80%;
    margin: 0 auto
  }
  
  .App-header {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white; */
    margin-bottom: 20px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .header-title {
    flex: 1;
    text-align: center;
    font-size: calc(10px + 2vmin);
  }
  
  .header-save-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 0; /* Set border radius to 0 */
    margin-left: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Add shadow */
  }
  
  .header-save-button:hover {
    background-color: #45a049;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: left;
    /* justify-content: center; */
    /* align-items: center; */

   
  }
  